mixin video(video)
    div 
        div.video__title
            a(href=`/videos/${video.id}` )=video.title
            //- div.video__thumb(style= `background-image: url${video.thumbUrl}; background-size: cover;`)
            small • #{video.meta.views} views •
            small=video.createdAt.toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})