.profile__container {
    margin: 0 auto;
    padding: 0 50px 40px 50px;
    .profile__img {
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #3D3D3D;
    }
}

h2 {
    margin-left: 50px;
}