header {
  position: relative;
  padding-bottom: 40px;
  display: flex;

  .my__profile {
    position: absolute;
    right: 20px;
    .header__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  
  .header__logo{
      position: absolute;
      left: 20px;
      font-size: 50px;
      color: rgb(219, 76, 76);
      position: relative;
      .header__txt{
          position: absolute;
          top: 4px;
          margin-left: 10px;
          font-size: 40px;
          justify-content: space-around;
          color: rgb(231, 231, 231);
          font-weight: bolder;
      }
  }
  nav {
      position: absolute;
      right: 100px;
      top: 30px;
      ul {
          display: flex;
          text-decoration: none;
          list-style: none;
          margin-top: 50px;
          li {
              margin-left: 30px;
          }
      }
  }
}