
.video__container > ul {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    overflow: visible;
    .video__elem{
        width: 300px;
        .video__title {
            color: #0f9976;
        }
        .vidieo__date {
            opacity: .5;
        }
    }
    .video__thumb {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        background-color: black;
        margin-bottom: 10px;
    }
}
