doctype html 
html(lang="ko")
    head 
        title  #{pageTitle} | Wetube
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
    body 
        include partials/header.pug
        main 
            block content
    include partials/footer.pug
        //- assets폴더의 내용들을 static을 통해 공개
    script(src="/static/js/main.js")

block script 