extends base

block content
    div#form__container
        form(method="POST")
            if errorMsg
                span=errorMsg
            hr
            input(placeholder="Old Password", type="password", name="oldPw")
            input(placeholder="New Password", type="password", name="newPw")
            input(placeholder="New Password Confirmation", type="password", name="newPwConfirm")
            input(type="submit", value="Change Password")