extends base

block content
    h4 Update Video
    div#form__container
        form(method="POST")
            input(type="text", name="title", placeholder="Video Title", value=video.title, required)
            input(type="text", name="description", placeholder="Description", value=video.description, required)
            input(type="text", name="hashtags", placeholder="Hashtags", value=video.hashtags.join(), required)
            input(value="Save", type="submit")