extends base
include mixins/video.pug

block content 
    div#form__container
        form()
            input(placeholder="Search by title", type="text", name="keyword")
            input(type="submit", value="Search now")
    br
    br
    br
    h2 Search Results
    hr

    if videos.length > 0
        div.video__container
            ul
                each video in videos
                    +video(video)
                else 
                    li Sorry nothing found.
    else 
        span Not found data. 