extends base
include mixins/video.pug

block content 
    form()
        input(placeholder="Search by title", type="text", name="keyword")
        input(type="submit", value="Search now")

    h2 Search Results
    hr

    if videos.length > 0
        dev
            each video in videos
                +video(video)
    else 
        span Not found data. 