extends ../base
include ../mixins/video

block content
    h1=pageTitle
    img(src="/"+ loggedInUser.avatarUrl, width="200", height="200")
    ul
        each video in user.videos
           +video(video)
        else 
            li Sorry nothing found.