extends ../base
include ../mixins/video

block content
    div.profile__container
        h1=pageTitle
        img(src="/"+ loggedInUser.avatarUrl, width="200", height="200").profile__img
    h2 Uploaded Video
    div.video__container
        ul
            each video in user.videos
                +video(video)
            else 
                li Sorry nothing found.